@mixin btnStyle {
    border-radius: 5px;
    background-color: $btnColor;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
        color: $btnColor;
        background-color: #ffffff;
        transition: linear 0.4s all;
    }
}

@mixin linkStyle {
    text-decoration: underline;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        transition: 0.4s all linear;
    }
}
