<div class="catalog-item">
    <div class="catalog-item__wrapper">
        <div class="catalog-item__main catalog-item__main--active">
            <img src="@@imgPath" alt="@@imgAlt" class="catalog-item__img">
            <div class="catalog-item__subtitle">@@title</div>
            <div class="catalog-item__descr">@@descr</div>
            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
        </div>
        <ul class="catalog-item__more">
            @@moreDescr
            <a href="#" class="catalog-item__back">назад</a>
        </ul>
    </div>
    <hr>
    <div class="catalog-item__footer">
        <div class="catalog-item__prices">
            <div class="catalog-item__old-price">@@oldPrice.</div>
            <div class="catalog-item__price">@@newPrice</div>
        </div>

        <button class="button btn--little">КУПИТЬ</button>
    </div>
</div>