<div class="reviews-item @@isAnimated animate__animated  animate__fadeInUp wow" data-wow-duration="@@itemAnimDuration">
    <div class="reviews-item__profile"><img src="@@imgPath" alt="@@imgAlt"></div>
    <div class="reviews-item__data">
        <div class="reviews-item__name">@@clientName</div>
        <div class="reviews-item__result">@@clientResult</div>
        <div class="reviews-item__text">@@clientReview</div>
    </div>
</div>
<hr class="animate__animated animate__fadeInUp wow" data-wow-duration="@@hrAnimDuration">