.button--header {
    width: 150px;
    height: 30px;
    font-size: 12px;
    margin-top: 8px;
}

.btn--main {
    width: 300px;
    height: 50px;
    margin-top: 68px;
    font-size: 16px;
}

.btn--feed {
    width: 300px;
    height: 55px;
    font-size: 16px;
}

.btn--little {
    width: 131px;
    height: 40px;

    &:hover {
        border: 1px solid $btnColor;
    }
}

@media (max-width: 769px) {
    .btn--main {
        width: 250px;
        font-size: 15px;
        margin-top: 55px;
    }
    .button--header {
        width: 140px;
        height: 25px;
        font-size: 11px;
        margin-top: 5px;
    }
}

@media (max-width: 426px) {
    .button--header {
        width: 155px;
        height: 32px;
        font-size: 13px;
        margin-top: 8px;
    }
    .btn--main {
        width: 240px;
        margin-top: 45px;
    }
}

@media (max-width: 321px) {
    .btn--main {
        margin-top: 20px;
    }
}