.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
}

.modal {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 190px);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 40px;

    &__close {
        position: absolute;
        right: -34px;
        top: 0;
        font-size: 34px;
        line-height: 17px;
        color: $btnColor;
        cursor: pointer;
    }
    &__subtitle {
        text-align: center;
        font-weight: 700;
        font-size: 19px;
    }
    &__descr {
        text-align: center;
        margin: 10px 0 25px;
        font-size: 14px;
        font-weight: 500;
    }
    &--little {
        min-height: 140px;
    }
}

#consultation,
#order,
#thanks {
    display: none;
}

@media (max-width: 426px) {
    .modal {
        width: 300px;
        padding: 20px;
        top: calc(50% - 200px);
        left: calc(50% - 150px);

        &__close {
            right: -25px;
            font-size: 30px;
            line-height: 15px;
        }
    }
}

@media (max-width: 321px) {
    .modal {
        width: 260px;
        padding: 20px;
        top: calc(50% - 200px);
        left: calc(50% - 130px);

        &__close {
            right: -20px;
            font-size: 26px;
            line-height: 13px;
        }
    }
}
