@import "base/_mixins.scss";

.promo {
    background: url("../img/bg/header_bg.jpg") center/cover no-repeat;
    min-height: 650px;
    padding: 25px 0 90px;

    &__wrapper {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {
        color: #ffffff;
        font-size: 44px;
        font-weight: 700;
        line-height: 44px;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-top: 17px;
        color: #ffffff;
        font-size: 21px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    &__content {
        width: 425px;
        min-height: 100px;
        color: #ffffff;
        margin-top: 65px;
    }
    &__item {
        max-width: 110px;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__link {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 18px;

        a {
            color: #ffffff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
                transition: 0.5s all linear;
            }
        }
    }
}

@media (max-width: 769px) {
    .promo {
        &__wrapper {
            padding-right: 30px;
        }
        &__title {
            font-size: 38px;
            line-height: 38px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__content {
            width: 400px;
            margin-top: 55px;
        }
        .promo__link {
            font-size: 15px;
        }
    }
}

@media (max-width: 426px) {
    .promo {
        &__wrapper{
            padding-right: 0;
            align-items: center;
            margin-top: 55px;
        }
        &__title {
            font-size: 32px;
            line-height: 32px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__content {
            width: 355px;
            margin-top: 40px;
        }
    }
}
