.reviews {
    min-height: 880px;
    padding-bottom: 70px;

    &__content {
        margin-top: 70px;
    }
    &-item {
        display: flex;

        &:first-child {
            margin-top: 0;
        }

        &__profile {
            margin-right: 60px;
        }
        &__name {
            font-weight: 700;
            font-size: 18px;
        }
        &__result {
            color: #646464;
            font-weight: 300;
            font-size: 14px;
            margin: 10px 0 20px;
        }
        &__text {
            font-weight: 300;
            font-size: 16px;

            div {
                margin: 22px 0;
            }
        }
    }
    hr {
        height: 1px;
        background-color: #f6f6f6;
        margin: 50px 0;
    }
}

@media (max-width: 769px) {
    .reviews {
        padding-bottom: 70px;
        &__content {
            margin-top: 55px;
        }
        hr {
            height: 2px;
            margin: 40px 0;
        }
    }
}

@media (max-width: 426px) {
    .reviews {
        padding: 0px 20px 60px;
        &-item {
            flex-direction: column;
            align-items: center;

            &__profile {
                margin-right: 0;
            }
            &__data {
                margin-top: 30px;
                text-align: center;
            }
        }
        hr {
            margin: 30px 0;
        }
    }
}
